<div id="subPageTitle" style="margin: auto 0.1rem;">
    <h2>Eskilop's GPG Key</h2>
    <p>This is my (eskilop@eskilop.it) public GPG Key, you can use it to verify my identity</p>
    <p>Avoid using it to "securely" message me, much better alternatives exist:
        <p><a href="https://matrix.to/#/@eskilop:eskilop.it">Matrix</a></p>
        <p><a href="https://signal.org">Signal</a>, if you do have my number</p>
        <p><a href="https://t.me/eskilop">Telegram</a>, but i'll reply only in a secret chat</p>
    </p>
</div>
<embed name="E" id="E" src="./media/gpg_qr.svg" width="20%" height="20%"><br>
<textarea type="text" cols="40" rows="1" id="GPGK" onclick="getCopy()">
-----BEGIN PGP PUBLIC KEY BLOCK-----

mQINBF7KmM8BEADG5yXMPCKpY6rdqm7DQU37zJgpM7dPZG1NDJGyvd65wZ6338sL
Q26wjEmNtXp28ZoXsainmH3R+MBUEV0+HHoedZUgKS/FIDsWwc51qA5Oyb1rE63D
v60QV99pOvuqPqXwZk4DUEPaYJER1d/Qp9p8ZpYfqnOF4apukvI0aipc03dYIeMG
Zy60oejO/D/C72y4ld8Tn/r3iLSO3xJlC8KBojof+Bhej8fYXXRNNGT7eMVcE4pp
jQ6lcFwT9I0t+krF3BSrt8BGZS8FcJFygb+5SWavGaidei9rzLKkbWLccanUzuX+
8OYxqg/xEQIJgGQiA58S3DJ4s87Dlu79hMEyTnBI7FxhW6bD8iGG5/BwYo7kr5d4
Qv8px2CJyYaoV55ViDX5Z5UACcAH5Dnhr4uwCAhsIJhusw8/+YkL98/v6rT+cisM
oSnmKFwdOdOpTH/hP2Jc+MNmmUe/aQLsFWPj3pL4rL86LRs7oxMVlX0vC+F34wZN
9nhhgXjBGG/KOxBs/sWiWxWH7yNBZduxYroSDohPFfug/FUbW+/caRhABcLIH0yM
/0iik1dU0evZvMTtDzTHjtW1Wnh7rMu2/hLO/pUobzyAx76A0Txvcq0JWxyQFFG1
f3W8e8YLYdZWWR2viAdENTM3w5f4ZuDyDy1kRXP21I6XmFDpAMo4DcDU5wARAQAB
tCFFc2tpbG9wIEtlamkgPGVza2lsb3BAZXNraWxvcC5pdD6JAk4EEwEIADgWIQT6
nLMfQTP88athHwQKBJ8kdSD2FQUCXsqYzwIbAwULCQgHAgYVCgkICwIEFgIDAQIe
AQIXgAAKCRAKBJ8kdSD2FcZfEACJQczGkiPoDCcLKHYh1xEKZlNlx5172qrg5wIq
lLQPLATJcaZG9liXrLsefo78bb+G8V5GD+ob6e7cc/bTHMY6iBapfI/f5iVLBlSl
NnL83Zg1w93LOdiU8GdLeER5uQKk0CgVwu4aKHBSgfdf9Z1HKnRjy7alKJ7RIVpd
G3ilWym7Zt9J03SF3QCWHC5Ex7HntOlbBllVazzgRW/G3otBVhuz04JwJOy/Vp3v
GKmm+vuFpghyS/IuWA7AoJpEvtn48Lc+F45yMJpd9D2O8/2d+wLVpSZ/raDX7xgN
17hJ9dqkXPemTU6pMDE/VxeQJy78jJUWn8YM4tZClaTufxvYWnQyum7UCzZvCC32
yv4hh4slB3fQPW9GD54CEOfZd35oWChi5qPj89JMeT2DTaKWeZ+zy1o276XCsRbL
EW7FlyPqtv5Oj2odideNTJk5o/Z6U8oF3MtpeZRGxe51eupJ4Pqzsu0EIzZPEzkn
hQnVEnRFmGANTjUFjzjY5sFteWAJaZpJRlPbTCFbpG2WABS0IcG6eHDaKydHMcR2
nyh5kW3aOr/i8tGCIPa8pYIsK0QmuAjy0MjK1TdjSLoufC3TKVtGnEjewPwWESoX
euDpEbSifU6p3cPK1Ma2zvP/dK/j4IVuu38POGGNFwLMQxtS8Hg201tTozkadtMv
0rCyNIkCMwQTAQgAHRYhBKJ6ixAd5eAn4Le4LVFiS2E86/6GBQJfGNQIAAoJEFFi
S2E86/6Gf30QAKhLCU4iV+jvN8hZC09RIy+qTMXs8xepqWY4zy4vd3wz9GjZoo46
FMDSSwpocpQFq4gGsUUE65YZM+d4U00iDllnkUJwMNBFsmdrnW6hkbYXO/Iunb8J
S6J3RdFVfUf4W/sXcyYwdugSEjv/5YLk9ReBINf6MVDlZ9iKKKsdz2blHkbMK/lv
5MZDD1NcD+WhCI7wWQ3uv4/KAdv8zvqQ3P15ObHKVI0jmW3vRCKvww/HpYMLqpZG
/Zxhscf2dkiDaRr3Q1G67v2ZOJEyzeCkf2vKq+QvRe8hH24mZC7EFjwI2GI+J/ev
+XJVIiiSqYnH50NgBDZUFlgHojq7yjCRlAgYlfADGBUY8N/Y+w0vmPNWzfqGFd85
GHpafCgKySJ41SZtt6BPWSrrwDdmXOZmg1NotV6JXJ3Lna33ZBwvzktyuiFjsAFC
Awqpl+y5Lji31DuUEUd15VBvzoEv9Jn2mw1lPxnZbsk5tpm5yfVKWqZ67Y6pAS1K
BgFWqrL7wde2sg9fnj7ZtRNh3dOE8uJh6Gw10gJb3SPL3+aFnLESeBHOKOE8y7yd
hLZpGY6sDryH+b6KnMNJJ9xBVVJ9BaC4CBf8MJHDhJ/JORvXqeTnux5YKj3LltX2
IP6Iinqq35sUq2XIQHweQhA3BFq0oycUNhS1pORjXobW9xjJv6wCZJ9quQINBF7K
mM8BEADOkodALfnZZHNv2eYRePzV9IWjmhgcm+sedwiDLQlAoX/I/EkyXlkn5eXX
qhNRf+A65gIQibMGaqMAibF1FOrPeHSaXGG9gKPxP/xyUMq8JuRRrMAFklIhPrUI
NHwaMVOUSVAniWQmTXzmNHIOZUNwcJB04UrBU6ZsMIzSsdU5gDCGen7tCg7HEpzj
qycCnUOtPZOHk5BfTZ1pUy8qo8pRVgijezBPlBJqkZxNMywy0cojsThW5pfreO0H
AWt79gpUhDP4TSCjEWkphLpohTBIrxuRb2NkFpLn8lGQvc4dgfT6wB6LNFvLkkP+
jf7J57efX/TQTLmwN1BhQxFJZh1MGcHCFXeBhD4ua5ozDYydDfOFf43N55uh7iC9
E5w+BX4TI5fCT9f9UtDxADqHsGmJJboUAo+/0qRqj/AW31aF6H6a5xdGIpxiQJMc
vKxIKWRHi9FT3r9abp8NVcSz1YPAJcXjt8W7O8H01g9jHHyyRObUN/FdPKanEQ4l
Sm/7qEwUcoqoEit/bEP/3PtcSp2HD+lcJPIbvgdBdNngeKtDJ8DMzRMRRb4uNVhD
Y135/mXUfYBup9oJygyNmfNF5R9YUcChqIauKr3O7mMF2fzC8COkVFdw/Q4Q0/1J
MbcNNZIstSw6b13Co8VIzXm/El4VvV5jdJFn7On06Y5iR5Ma0wARAQABiQI2BBgB
CAAgFiEE+pyzH0Ez/PGrYR8ECgSfJHUg9hUFAl7KmM8CGwwACgkQCgSfJHUg9hUs
6g//ZqU6fsTnwOX7njl6gtamJGaIj9RL/auOFdOqRCzyCnYItx5/tK2LVe7vCv8G
jNM8y0VdqdrTv2ktFYAb94a81lScz0umh1m4yYi5U/kXI2J2oPPKa/W75VoyX5Uw
Drf0yO+eKpzLZRPdwuo2L5eN6wxaX1ygZJ3xHu529rUuzrEGhF8C1xC9ItJkEUiS
mqQEXFSSA07JB5RKg/L83W9na6eVFPyaYWZGINVoweuXFIKHg6UdgMdTHrlTfyLF
8LF5qS+NR/tVHkOQ09cTQo+7lWhUT92JxwBVIOk5YVnUAf0ox3WaTB4dWBMe0gyI
67PeIuX9noHtXIt7lPHfauszs9MO3VTQ2ZDMGGzhRF23ItX07uKkSyabgd2qxnKi
kXiLbyarE3YTUPDXnswVDbOs6TzVH3Ct4cOYc51Dhi4xvNRB8wKPP5e5Z0G5ieuU
4u9ZICMHqQ2R4R89UxDgqN21qba3rOZO8MX6VB27iencozcKh77Jtm6rlfRHvM/7
fvsIMyM2Ar91SvQ413NC1bHG3yveJPSGeFXDPOOJp0htwSe6QvYYsoA97Q8b7QCm
s0d4YRglfDDxSHW81hlVDqMu+pfEgQ/CLLixsqkogJiWw0kDrShYmfW8UtGSDK8S
FcOA68L6qvX60P4xLXeImt63G7+zx7IGrApunqda9oqNEXM=
=Hb3v
-----END PGP PUBLIC KEY BLOCK-----
</textarea>
