<div id="subPageTitle" style="margin: auto 0.1rem;">
    <h2>About this site</h2>
    <p>
    This project is open-source, licensed under the <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GNU GPL-3.0</a>.</br>
    Except fonts, it uses only vanilla html + css + js.</br>
    Fonts are downloaded locally so no request to third parties are made.</br>
    You can find the source code <a href="https://gitlab.com/Eskilop/profile">here</a>
    </p>
    <h3>Privacy Policy</h3>
    <p><b>None of your personal data is collected while using this website.</b><br/>
    If you have cookies enabled in your browser, some static assets in this website (images, styles and webpages)</br>
    will be downloaded on your device for caching purposes (so there's less load on the server, since this files will be re-used from your device).
    </p>
    <h3>Credits</h3>
    <ul>
    	<li><a href="https://fontawesome.com/">Font Awesome Free 5.15.4 by @fontawesome</a> - 
<a href="https://fontawesome.com/license/free">License</a> - (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)</li>
	<li><a href="https://www.ibm.com/plex/">IBM Plex by IBM</a> Font - <a href="https://github.com/IBM/plex/blob/master/LICENSE.txt">License</a> - (SIL OFL 1.1)
    </ul>
</div>
