<div class="internet-positions">
    <div id="code">
        <h3>Code I wrote</h3>
        <div class="p-icons">
          <a href="https://git.eskilop.it/explore"><img src="media/icons/gitea.png" style="width:1em;height:1em;"/></a>
          <a href="https://gitlab.com/Eskilop"><i class="fab fa-gitlab"></i></a>
          <a href="https://github.com/Eskilop"><i class="fab fa-github"></i></a>
        </div>
    </div>
    <div id="imss">
        <h3>My IMSs</h3>
        <div class="p-icons">
          <a href="https://t.me/Eskilop"><i class="fab fa-telegram"></i></a>
          <a href="https://matrix.to/#/@eskilop:eskilop.it"><img src="media/icons/element.png" style="width:1em;height:1em;"/></a>
          <a href="mailto:eskilop@protonmail.com"><img src="media/icons/protonmail.png" style="height:1em;"></img></a>
        </div>
    </div>
    <div id="sns">
        <h3>My Socials</h3>
        <div class="p-icons">
          <a href="https://t.me/EskyPortal"><i class="fab fa-telegram"></i></a>
          <a href="https://pixelfed.social/eskilop"><img src="media/icons/pixelfed.png" style="width:1em;height:1em;"></img></a>
          <a href="https://reddit.com/u/eskilop"><i class="fab fa-reddit"></i></a>
        </div>
    </div>
    <div id="websites">
        <h3>Websites I'm involved with</h3>
        <div class="p-icons">
          <a href="https://eskilop.it/blog"><i class="fas fa-blog"></i><br>Blog<br></a>
          <a href="https://epeira.it"><i class="fas fa-newspaper"></i><br>Epeira.it<br>(Contributor)</a>
        </div>
    </div>
    <div id="other">
        <h3>GPG and Other</h3>
        <div class="p-icons">
          <a href="javascript:setPath('gpg')"><i class="fas fa-key"></i></a>
          <a href="javascript:setPath('info')"><i class="fas fa-info"></i></a>
        </div>
    </div>
</div>
