html {
  background-color: #16181E;
  color: #dee6ff;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 2vh;
  min-height: 100%;
}

body {
  text-align: center;
  margin:none;
}

footer {
  background-color: #00000035;
  text-align: center;
  padding: 1em;
  position: static;
}

blockquote {
  display: block;
  border-width: 2px 0;
  border-style: solid;
  border-color: #ffffff10;
  padding: 2.5em 0 0.5em;
  margin: 1.5em 1.5rem;
  position: relative;
}
blockquote:before {
  content: '\201C';
  position: absolute;
  top: 0em;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #16181E;
  width: 3rem;
  height: .6em;
  font: 6em/1.08em 'PT Sans', serif;
  color: #ffffff50;
  text-align: center;
}
blockquote:after {
  content: "\2013 \2003" attr(cite);
  display: block;
  text-align: right;
  font-size: 0.875em;
  color: #e74c3c00;
}

a {
  color: #e0d0a4;
  padding: .25rem;
}

p, ul, li, a {
  font-size: 1rem;
}

li {
  list-style: none;
  margin: 0.5rem auto;
}

h1 {
  font-size: 2rem;
  font-weight: 900;
}

.special {
  color: #e0d0a4;
}

.internet-positions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: baseline;
  padding: auto;
}

.internet-positions div {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-radius: 1rem;
  margin: auto;
}

div.p-icons {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

#propic {
  display: block;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 5px solid #dee6ff;
  margin: 1rem auto;
}

#content {
  margin: 2.5rem auto;
}
